#wrap,
#container,
#content,
#footer {
    width: 100%;
}
/* 공통 */
.inner {
    margin: auto;
    position: relative;
    box-sizing: border-box;
}
#header {
    width: 1740px;
    background: #fff;
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 100;
}
#header.on {
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
}
#header .inner {
    height: 90px;
    width: 1160px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#header h1 {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}
#header .util {
    position: absolute;
    display: flex;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    gap: 25px;
    align-items: center;
}
#header .util ul {
    display: flex;
    gap: 25px;
}

#header .util ul a {
    font-size: 13px;
}
#header .util ul li:first-child a {
    font-size: 13px;
    font-weight: 600;
}
#header .nav {
}
#header .nav .gnb {
    display: flex;
}
#header .nav .gnb > li {
}
#header .nav .gnb > li > a {
    display: block;
    width: 200px;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: 500;
}
#header .nav .gnb > li ul {
    display: none;
}
#footer {
    background: #131313;
}
#footer .inner {
    width: 1160px;
    padding: 50px 0;

    color: white;
}
#footer p {
    font-size: 13px;
    margin-bottom: 5px;
}
.top {
    position: fixed;
    right: 15%;
    bottom: 30px;
}
.bg {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    background: #000;
    left: 0;
    top: 0;
    z-index: 10000;
    opacity: 0.6;
}
.sitemap {
    display: none;
    position: fixed;
    width: 960px;
    height: 530px;
    background: #ffffff;
    left: 50%;
    top: 50%;
    z-index: 10080;
    transform: translate(-50%, -50%);
}
.sitemap .close {
    position: absolute;
    right: 2%;
    top: 3%;
}
.sitemap .close i {
    font-size: 25px;
    cursor: pointer;
}
